<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.jhein.alfred3.imageresize</string>
	<key>connections</key>
	<dict>
		<key>16F50928-BDC7-4B37-AFE5-136487D8A62C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CB510DB-D353-4AF8-89FE-F89C01EA46D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CB510DB-D353-4AF8-89FE-F89C01EA46D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5141C668-6EBD-497A-AF23-8034377E6466</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>66F406E0-259F-4227-8467-EF43BA80321C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CB510DB-D353-4AF8-89FE-F89C01EA46D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jhein forked from Acidham</string>
	<key>description</key>
	<string>Resize an image to width and preserve ratio</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Image Resize</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Image Resize</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5141C668-6EBD-497A-AF23-8034377E6466</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
					<string>com.cocoatech.PathFinder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>16F50928-BDC7-4B37-AFE5-136487D8A62C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(target_width)

-- try to get a jpg or png
try

	if application "Path Finder" is frontmost then

		tell application "Path Finder"
			set maybeSeln to selection
			if maybeSeln is not missing value then
				set myPath to POSIX path of (item 1 of maybeSeln)
			end if
		end tell

	else if application "Finder" is frontmost then

		-- get selected file in finder and read the POSIX Path		tell application "Finder"			set this_file to get selection			set myPath to POSIX path of (this_file as text)
			return myPath as text		end tell

	end if
			tell application "Image Events"			-- open the image file			set this_image to open myPath			-- get dimensions of the image			copy dimensions of this_image to {W, H}			-- calculate scale factor with given width and scale the image			set scale_factor to target_width / W			scale this_image by factor scale_factor			save this_image in myPath			close this_image
			-- get new image width and height for output			set new_W to round (W * scale_factor) rounding as taught in school			set new_H to round (H * scale_factor) rounding as taught in school			set new_size to new_W &amp; " x " &amp; new_H		end tell		set the_return to (W &amp; " x " &amp; H &amp; " → " &amp; new_size) as text		return the_return	on error errStr number errorNumber		return "No image file found!"end try
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>5CB510DB-D353-4AF8-89FE-F89C01EA46D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>resize</string>
				<key>subtext</key>
				<string>Resize image to width of {query} px</string>
				<key>text</key>
				<string>Image Resize: Enter target width</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>66F406E0-259F-4227-8467-EF43BA80321C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>16F50928-BDC7-4B37-AFE5-136487D8A62C</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>5141C668-6EBD-497A-AF23-8034377E6466</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5CB510DB-D353-4AF8-89FE-F89C01EA46D6</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>66F406E0-259F-4227-8467-EF43BA80321C</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>270</real>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/jhein05/alfredapp-image-resize</string>
</dict>
</plist>
